*{
  margin:0;
  
}


.mainheading{
  text-align:center;
  color:Navy;
font-size:70px;
  
}

ul li a {
  text-decoration:none;
  color:black;
}
  
  ul{
    height:22%;
    Width:100%;
    background:#97d6f7;
    text-align: center;
    
  }

ul li{
  list-style: none;
  display: inline;
position: relative;  
margin-left:130px;
transform:translate(20%,30%);
font-size:22px;


}

ul li a:hover{
  color:black;
  background:blue;
}