html,body{
  width:100%;
}
body{
  background-image: url("https://thumbs.dreamstime.com/b/computer-laptop-black-screen-hot-coffee-cup-wooden-table-top-blurred-pool-beach-background-business-concept-83207822.jpg")  ;
  background-size: cover;
}